@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

header, main, footer {
    width: 760px;
    margin: 0 auto;
}
header > h1 { 
    font-family: 'Great Vibes', cursive;
}
hr { 
   
    height:15px;
    background:url(img/hr-img.png);
    border: none;
    background-repeat:repeat;
    margin-left: 0px;
    width: 100%;

    }
    .hr1{
        opacity: 0%;
    }

    .logo, .logoName, .nameDescrip {
        float: left;
        display: block;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }
    .logo {
        margin: 0 6px 0px 0px;
    }
    .icons{
        list-style: none;
        text-align: right;
        float: right;
        display: inline-flex;

    }
    .nameDescrip{
        float: left;
        margin: -15px 0 0 45px;
        clear:both;
        font-size: 8px;
        color: gray;
    }
    .title{
        text-align: left;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-left: 0px;
        column-gap: 0px;

    }
    .undertitle{
        color: gray;

    }
    .print{
        text-align: right;
        color: gray;
        
    }
    .choco{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .texts{
        text-indent: 50px;
    }
    .all-lists{
        position: relative;
        text-align: center;
        color: black;
        clear:both;

    }
    .lists{
        background-image: url(img/list-bg.png);

        /* position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); */
    }
    ul {
        float: left;
    }
    button{
        background-color: crimson;
        float: right;
       
    }
    footer{
        text-align: center;
        color: rgb(77, 80, 77);
    }

#hrLogo {
    text-align: center;
    line-height: 1px;
    overflow: visible;
    
    }
    #hrLogo:after {
    background: url('../img/small-logo.png');
    content: '';
    margin: -20px auto 0;
    background-color: #454545; /* same as background color */
    padding: 8px 15px;
    }

.clearfix::after {
    content: "";
    clear: both;
    display: table;
    }